<section>
    <% if(session.userId){ %>
        <form action="/blog/<%= date %>/<%= slug %>/delete" method="post">
            <button type="submit">Delete this post</button>
        </form>
        <%}%>
    <h2><%= title %></h2>
    <h3><%= subtitle %></h3>

    <p><%= date %></p>
    <div><%=body%></div>
</section>